<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/index.css">
    <link rel="shortcut icon" href="https://mskcc.ru/Images/9ef36c1b-9e97-4d8e-ae26-665c99eb7c2f.jpg" type="image/x-icon">

    <title>{{title}}</title>
</head>
