<h1>Добавить курс</h1>

<div class="form-container">
    <form class="add-form" action="/add" method="POST">
        <div class="input-field">
            <input id="title" name="title" type="text" class="validate" required>
            <label for="title">Название курса</label>
            <span class="helper-text" data-error="Введите название курса"></span>
        </div>

        <div class="input-field">
            <input id="price" name="price" type="number" class="validate" required min="10000">
            <label for="price">Стоимость курса</label>
            <span class="helper-text" data-error="Введите цену"></span>
        </div>

        <div class="input-field">
            <input id="img" name="img" type="text" class="validate" required>
            <label for="img">Заглавная картинка курса</label>
            <span class="helper-text" data-error="Введите url"></span>
        </div>

        <div class="input-field">
            <input id="content" name="content" type="text" class="validate" required>
            <label for="content">Описание курса</label>
            <span class="helper-text" data-error="Введите описание курса"></span>
        </div>


        <button class="btn btn-primary">Создать курс</button>
    </form>

    <button class="btn add-lesson">Добавить Урок</button>
</div>
