<div class="container">
    <h1>Вход</h1>
    <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" required>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" required>
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <p>Нет аккаунта? <a href="/reg">Зарегистрируйся!</a></p>
      </div>
      <div class="row">
        <button class="btn primary-btn">Войти</button>
      </div>
    </form>
  </div>
</div>