.nav-wrapper {
  padding: 0 2rem;
}

.price {
  font-size: 2rem;
}

.courses-h1 {
  text-align: center;
}

.course {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course h1 {
  margin-bottom: 2rem;
}

.course img {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.course .content {
  font-size: 3rem;
}

.collection {
  margin-left: -230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.form-container {
  margin-bottom: 20px;
}

.form-container .add-lesson {
  margin-top: 20px;
}

.pers-photo {
  height: 50px;
  width: 50px;
}

.card-action.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
